<!DOCTYPE html>
<!--
    The navbar.
-->
<nav id="navbar" class="navbar" role="navigation" aria-label="Site Navigation">
    <ol class="navbar-title">
        <li class="navbar-tab"><span>Nitcher.Net</span></li>
    </ol>
    <ol class="navbar-spacer">
        <!-- Nothing to see here! -->
    </ol>
    <ol class="navbar-tabs">
        <li class="navbar-tab hoverable"><a href="/index.html">About</a></li>
        <li class="navbar-tab hoverable"><a href="/etch.html">Etch</a></li>
        <li class="navbar-tab hoverable"><a href="/renderer.html">Renderer</a></li>
        <li class="navbar-tab hoverable"><a href="/tokens.html">Tokens</a></li>
        <li class="navbar-tab hoverable"><a href="/gallery.html">Gallery</a></li>
        <li class="navbar-tab hoverable"><a href="/charts.html">Visualization</a></li>
        <li class="navbar-tab hoverable"><a href="/data.html">Data</a></li>
        <li class="navbar-tab hoverable"><a href="/code.html">Code</a></li>
        <li class="navbar-tab hoverable"><a href="https://github.com/ryenitcher/ryenitcher.github.io">GitHub</a></li>
    </ol>
</nav>